
main {
	width: 40%;
	background: rgb(245 241 241 / 43%);
	margin: auto;
    padding: 1% 46px 10px 5%;
    margin-top: 10%;
}

h1 {
   color: #4a343c;
   font-family: 'Schoolbell', cursive;
}

h2 {
    color: #4a343c;
    font-size: 1.2rem;
    font-family: 'Tajawal', sans-serif;
 }

p {
    color:  #8a162b;

    font-family: 'Tajawal', sans-serif;
 }


button {
	width: 60%;
	margin: 4% auto 0 auto;
    padding: 2% 1%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.125rem;
	border: 0.1rem solid #8a162b;
	color: white;
    background-color: #8a162b;
    border-radius: 0.27rem;
}